* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./img/backgroundGrass.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    background-image: linear-gradient(to top, #34C537, #68C3EA);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.623);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.61);
}

.d-none {
    display: none;
}

.backgroundContainer {
    min-height: 100vh;
    position: relative;
}

.backgroundImage {
    position: absolute;
    z-index: -1;
    height: 14%;
    left: 24px;
    top: 10px;
}

.psyduck {
    position: absolute;
    z-index: -1;
    height: 500px;
    right: 200px;
    top: -200px;
    rotate: 180deg;
}

#mainContainer {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.mainContainerSearch {
    min-height: fit-content !important;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: flex-start !important;
    overflow-y: hidden;
}

.header {
    height: 200px;
    color: #292929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    font-size: 50px;
}

.header span {
    text-align: center;
}

.searchContainer {
    width: 400px;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.searchContainer input {
    border-radius: 16px;
    padding: 16px;
    border: 3px solid black;
}

input:focus-visible {
    outline: none;
}

.loadingScreen {
    background-image: url(./img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}

.pokemon {
    width: 330px;
    height: 200px;
    margin: 16px;
    display: flex;
    border-radius: 16px;
    box-shadow: 1px 1px 4px black;
}

.pokemon:hover {
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 0px 12px;
    flex: 1;
    gap: 30px;
}

.mainInformation {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainInformation div {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: fit-content;
    border-radius: 16px;
    padding: 4px;
    height: fit-content;
}

img:hover {
    transform: scale(1.3);
    transition: 250ms ease-in-out;
}

.name {
    text-decoration: underline;
    font-weight: 600;
}

.pokemonImageContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.pokemonImage {
    width: 160px;
    height: 180px;
}

.moreButton {
    padding: 16px;
    background-color: transparent;
    color: black;
    border-radius: 24px;
    width: 124px;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid black;
    box-shadow: 1px 0px 6px black;
}

.moreButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms ease-in;
}

.buttonContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

#showpokemon {
    position: absolute;
    height: 100vh;
}

.pokemonBackground {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow-y: scroll;
}

.pokemonCard {
    height: 85vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.cardIdNumber {
    height: 300px;
    color: #d3d3d378;
    font-size: 400px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardInformation {
    display: flex;
    justify-content: space-between;
    height: 200px;
    color: white;
    padding: 0px 64px 0 24px;
    margin-top: -10px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 40px;
}

.cardName {
    display: flex;
    justify-content: center;
    font-size: 55px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.bodyInformation {
    display: flex;
    justify-content: space-evenly;
}

.bodyInformation div {
    font-size: 22px;
}

.cardImagePosition {
    margin-top: -140px;
}

.cardImage {
    width: 325px;
    height: 350px;
}

.chartContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    width: 95%;
}

#myChart {
    height: 255px;
}

.previousContainer {
    position: absolute;
    left: 18%;
}

.nextContainer {
    position: absolute;
    right: 18%;
}

.next {
    display: flex;
    justify-content: end;
}

.previous:hover,
.next:hover {
    cursor: pointer;
    transform: none;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    display: block;
    filter: opacity(35%);
    cursor: pointer;
}

.animateIn {
    animation: 1.5s fadeIn ease-in-out;
}

.animateOut {
    animation: 1s fadeOut ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Card Backgrounds */
/* .grass {
    /* background-color: #6aa01a; */
    /* background-image: linear-gradient(to top, #426311, #78b320);
    background-repeat: no-repeat;
} */

/* .fire {
    background-color: rgb(202, 84, 0)
}

.water {
    background-color: #1295bd;
}

.bug {
    background-color: #4a7a12;
}

.normal {
    background-color: #7f8181;
}

.poison {
    background-color: #9043a5;
}

.electric {
    background-color: #bba201;
}

.ground {
    background-color: #9c8417;
}

.fairy {
    background-color: #7c0f5c;
}

.fighting {
    background-color: #e2cd6c;
}

.psychic {
    background-color: #c53589;
}

.rock {
    background-color: #9b841c;
}

.ghost {
    background-color: #6e3eb8;
} */

/* Detailed Card Backgrounds */
.grass {
    background-image: linear-gradient(to top, #426311, #78b320);
    background-repeat: no-repeat;
}

.fire {
    background-image: linear-gradient(to top, rgb(82, 35, 1), rgb(228, 96, 2));
    background-repeat: no-repeat;
}

.water {
    background-image: linear-gradient(to top, #09475a, #18afdd);
    background-repeat: no-repeat;
}

.bug {
    background-image: linear-gradient(to top, #33550d, #67ac19);
    background-repeat: no-repeat;
}

.dark {
    background-image: linear-gradient(to top, #0f0f0e, #50524e);
    background-repeat: no-repeat;
}

.steel {
    background-image: linear-gradient(to top, #575757, #b3b3b3);
    background-repeat: no-repeat;
}

.ice {
    background-image: linear-gradient(to top, #1f4f5e, #50c6eb);
    background-repeat: no-repeat;
}

.dragon {
    background-image: linear-gradient(to top, #4b1212, #f86c6c);
    background-repeat: no-repeat;
}

.normal {
    background-image: linear-gradient(to top, #363636, #919191);
    background-repeat: no-repeat;
}

.poison {
    background-image: linear-gradient(to top, #5f2c6b, #a04ab8);
    background-repeat: no-repeat;
}

.electric {
    background-image: linear-gradient(to top, #948000, #d1b501);
    background-repeat: no-repeat;
}

.ground {
    background-image: linear-gradient(to top, #665611, #a78d19);
    background-repeat: no-repeat;
}

.fairy {
    background-image: linear-gradient(to top, #580b41, #a8167c);
    background-repeat: no-repeat;
}

.fighting {
    background-image: linear-gradient(to top, #a59344, #c0aa4a);
    background-repeat: no-repeat;
}

.psychic {
    background-image: linear-gradient(to top, #681c48, #c53589);
    background-repeat: no-repeat;
}

.rock {
    background-image: linear-gradient(to top, #5f5112, #9b841c);
    background-repeat: no-repeat;
}

.ghost {
    background-image: linear-gradient(to top, #2a1844, #6e3eb8);
    background-repeat: no-repeat;
}