* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: url(./img/background.jpg); */
    background-image: linear-gradient(to top, #141e30, #243b55);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom right, white, red) */
}

.d-none {
    display: none;
}

.backgroundContainer {
    min-height: 100vh;
    position: relative;
}

.backgroundImage {
    position: absolute;
    height: 800px;
    z-index: -1;
}

#mainContainer {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.mainContainerSearch {
    min-height: fit-content !important;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: flex-start !important;
    overflow-y: hidden;
}

.header {
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    font-size: 50px;
}

.searchContainer {
    width: 400px;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.searchContainer input {
    border-radius: 16px;
    padding: 16px;
    border: 3px solid black;
}

.searchContainer button {
    padding: 16px;
    border-radius: 16px;
    border: none;
    box-shadow: 1px 1px 4px black;
}

.searchContainer button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon {
    width: 330px;
    height: 200px;
    background-color: wheat;
    margin: 16px;
    display: flex;
    border-radius: 16px;
    box-shadow: 1px 1px 4px black;
}

.pokemon:hover {
    cursor: pointer;
    /* transform: scale(1.02); */
    transition: 300ms ease-in-out;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 0px 12px;
    flex: 1;
    gap: 30px;
}

.mainInformation {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainInformation div {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: fit-content;
    border-radius: 16px;
    padding: 4px;
    height: fit-content;
}

img:hover {
    transform: scale(1.3);
    transition: 250ms ease-in-out;
}

.name {
    text-decoration: underline;
    font-weight: 600;
}

.pokemonImageContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.pokemonImage {
    width: 160px;
    height: 180px;
}

.moreButton {
    padding: 16px;
    background-color: transparent;
    color: white;
    border-radius: 24px;
    width: 124px;
    border: 1px solid white;
    box-shadow: 1px 0px 6px white;
}

.moreButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms ease-in;
}

.buttonContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

#showpokemon {
    position: absolute;
    height: 100vh;
}

.pokemonBackground {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.pokemonCard {
    height: 85vh;
    width: 50vw;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.cardIdNumber {
    height: 300px;
    color: #d3d3d378;
    font-size: 400px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardInformation {
    display: flex;
    justify-content: space-between;
    height: 200px;
    color: white;
    padding: 0px 64px 0 24px;
    margin-top: -10px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 40px;
}

.cardName {
    display: flex;
    justify-content: center;
    font-size: 55px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.bodyInformation {
    display: flex;
    justify-content: space-evenly;
}

.bodyInformation div {
    font-size: 22px;
}

.cardImagePosition {
    margin-top: -140px;
}

.cardImage {
    width: 325px;
    height: 350px;
}

.chartContainer {
    height: 300px;
    display: flex;
    justify-content: center;
    width: 95%;
}

#myChart {
    height: 255px;
}

.previousContainer {
    position: absolute;
    left: 18%;
}

.nextContainer {
    position: absolute;
    right: 18%;
}

.next {
    display: flex;
    justify-content: end;
}

.previous:hover, .next:hover {
    cursor: pointer;
    transform: none;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    display: none;
}

.animateIn {
    animation: 1.5s fadeIn ease-in-out;
}

.animateOut {
    animation: 1s fadeOut ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Card Backgrounds */
.grassBackground {
    background-color: #6aa01a;
}

.fireBackground {
    background-color: rgb(202, 84, 0)
}

.waterBackground {
    background-color: #1295bd;
}

.bugBackground {
    background-color: #4a7a12;
}

.normalBackground {
    background-color: #7f8181;
}

.poisonBackground {
    background-color: #9043a5;
}

.electricBackground {
    background-color: #bba201;
}

.groundBackground {
    background-color: #9c8417;
}

.fairyBackground {
    background-color: #7c0f5c;
}

.fightingBackground {
    background-color: #e2cd6c;
}

.psychicBackground {
    background-color: #c53589;
}

.rockBackground {
    background-color: #9b841c;
}

.ghostBackground {
    background-color: #6e3eb8;
}

/* Detailed Card Backgrounds */
.detailedgrassBackground {
    background-image: linear-gradient(to top, #426311, #78b320);
    background-repeat: no-repeat;
    /* background-color: #6aa01a; */
}

.detailedfireBackground {
    background-image: linear-gradient(to top, rgb(82, 35, 1), rgb(228, 96, 2));
    background-repeat: no-repeat;
    /* background-color: rgb(202, 84, 0) */
}

.detailedwaterBackground {
    background-image: linear-gradient(to top, #09475a, #18afdd);
    background-repeat: no-repeat;
    /* background-color: #1295bd; */
}

.detailedbugBackground {
    background-image: linear-gradient(to top, #33550d, #67ac19);
    background-repeat: no-repeat;
    /* background-color: #4a7a12; */
}

.detailednormalBackground {
    background-image: linear-gradient(to top, #363636, #919191);
    background-repeat: no-repeat;
    /* background-color: #7f8181; */
}

.detailedpoisonBackground {
    background-image: linear-gradient(to top, #5f2c6b, #a04ab8);
    background-repeat: no-repeat;
    /* background-color: #9043a5; */
}

.detailedelectricBackground {
    background-image: linear-gradient(to top, #948000, #d1b501);
    background-repeat: no-repeat;
    /* background-color: #bba201; */
}

.detailedgroundBackground {
    background-image: linear-gradient(to top, #665611, #a78d19);
    background-repeat: no-repeat;
    /* background-color: #9c8417; */
}

.detailedfairyBackground {
    background-image: linear-gradient(to top, #580b41, #a8167c);
    background-repeat: no-repeat;
    /* background-color: #7c0f5c; */
}

.detailedfightingBackground {
    background-image: linear-gradient(to top, #a59344, #c0aa4a);
    background-repeat: no-repeat;
    /* background-color: #e2cd6c; */
}

.detailedpsychicBackground {
    background-image: linear-gradient(to top, #c53589, #c53589);
    background-repeat: no-repeat;
    /* background-color: #c53589; */
}

.detailedrockBackground {
    background-image: linear-gradient(to top, #9b841c, #9b841c);
    background-repeat: no-repeat;
    /* background-color: #9b841c; */
}

.detailedghostBackground {
    background-image: linear-gradient(to top, #6e3eb8, #6e3eb8);
    background-repeat: no-repeat;
    /* background-color: #6e3eb8; */
}