* {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: url(./img/background.jpg); */
    background-image: linear-gradient(to top, #141e30, #243b55);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* background-image: linear-gradient(to bottom right, white, red) */



}

.backgroundContainer {
    min-height: 100vh;
    filter: grayscale(25%);
}

#mainContainer {
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.header {
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    font-size: 50px;
}

.searchContainer {
    width: 400px;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.searchContainer input {
    border-radius: 16px;
    padding: 16px;
    border: 3px solid black;
}

.searchContainer button {
    padding: 16px;
    border-radius: 16px;
    border: none;
    box-shadow: 1px 1px 4px black;
}

.searchContainer button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon {
    width: 330px;
    height: 200px;
    background-color: wheat;
    margin: 16px;
    display: flex;
    border-radius: 16px;
    box-shadow: 1px 1px 4px black;
}

.pokemon:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 300ms ease-in-out;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0 0px 12px;
    flex: 1;
    gap: 30px;
}

.mainInformation {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainInformation div {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: fit-content;
    border-radius: 16px;
    padding: 4px;
    height: fit-content;
}

img:hover {
    transform: scale(1.3);
    transition: 250ms ease-in-out;
}

.name {
    text-decoration: underline;
    font-weight: 600;
}

.pokemonImageContainer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.pokemonImage {
    width: 160px;
    height: 180px;
}

.moreButton {
    padding: 16px;
    background-color: transparent;
    color: white;
    border-radius: 24px;
    width: 124px;
    border: 1px solid white;
    box-shadow: 1px 0px 6px white;
}

.moreButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms ease-in;
}

.buttonContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}



.grassBackground {
    background-color: #73c000;
}

.fireBackground {
    background-color: rgb(255, 106, 0)
}

.waterBackground {
    background-color: #19bcee;
}

.bugBackground {
    background-color: #4a7a12;
}

.normalBackground {
    background-color: #7f8181;
}

.poisonBackground {
    background-color: #ad51c7;
}

.electricBackground {
    background-color: #f5d401;
}

.groundBackground {
    background-color: #9c8417;
}

.fairyBackground {
    background-color: #b80181;
}

.fightingBackground {
    background-color: #A38C21;
}

.psychicBackground {
    background-color: #ff44b1;
}

.rockBackground {
    background-color: #9b841c;
}

.ghostBackground {
    background-color: #7b43cf;
}